.header__title {
    font-family: var(--OpenSansCondensed);
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white);
}
.title {
    font-family: var(--OpenSansCondensed);
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    span {
        color: var(--gold);
    }
}