/* -------------------------------------------------- Общие стили слайдеров */
.slider {
    display: flex;
    justify-content: center;
}
/* обращение к дорожке со слайдами */
.owl-carousel .owl-stage-outer {
    width: 50%;
    margin: 0 auto;
}
/* .owl-stage{} */
.owl-item{
    width: 350px;
    height: 490px;
}
/* стилизация пагинации (точек) */
/* Обращение к обёртке точек */
.owl-carousel .owl-dots{
    
}
/* обращение к обёртке каждой точки */
.owl-carousel .owl-dots .owl-dot{
    
}
/* Стилизация стрелок */
/* обращение к обёртке стрелок */
.owl-carousel .owl-nav{
    
}
/* обращение к обёртке стрелки назад и вперёд */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
    
}
/* ----------------------------------------------- // Общие стили слайдеров */