//-----[---ПЕРЕМЕННЫЕ---]-------------------------------------------------------------------------------------------------------------
:root {
	--balck: #000;
    --lightBlack: #333;
    --gold: #D1A954;
    --white: #fff;
}
//-----[--/ПЕРЕМЕННЫЕ/--]-------------------------------------------------------------------------------------------------------------



//-----[---ШРИФТЫ---]-----------------------------------------------------------------------------------------------------------------
//-----[Подключаем шрифты/]-----------------------------------------------------------------------------------------------------------
@import './components/fonts';
$OpenSans: 'Open Sans', sans-serif;
$OpenSansCondensed: 'Open Sans Condensed', sans-serif;
//-----[/Подключаем шрифты/]----------------------------------------------------------------------------------------------------------

//-----[Шрифт по умолчанию/]----------------------------------------------------------------------------------------------------------
body {
	font-family: $OpenSansCondensed;
	font-weight: 400;
}
//-----[/Шрифт по умолчанию/]---------------------------------------------------------------------------------------------------------
//-----[--/ШРИФТЫ/--]-----------------------------------------------------------------------------------------------------------------




//-----[---ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ---]---------------------------------------------------------------------------------------------
@import './components/_normalize.scss';
html,body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
//-----[--/ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ/--]---------------------------------------------------------------------------------------------




//-----[---ОБОЛОЧКА---]---------------------------------------------------------------------------------------------------------------
.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
//-----[--/ОБОЛОЧКА/--]---------------------------------------------------------------------------------------------------------------




//-----[---ОСНОВНАЯ СЕТКА---]---------------------------------------------------------------------------------------------------------
.container {
	max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
    height: 100%;
}
//-----[--/ОСНОВНАЯ СЕТКА/--]---------------------------------------------------------------------------------------------------------




//-----[---ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ---]--------------------------------------------------------------------------
@import './components/base';
@import './components/nav';
@import './components/header';
@import './components/headerSlider';
@import './components/article';
//-----[--/ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ/--]--------------------------------------------------------------------------




//-----[---Вспомогательные стили---]--------------------------------------------------------------------------------------------------
.none {
	display: none; 
}

/* для FireFox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--grey);
} */

/* для Chrome/Edge/Safari */
/* *::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: var(--grey);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 5px;
    border: 3px solid var(--accent);
}

*::selection {
	background-color: var(--grey);
	color: var(--accent);
} */
//-----[--/Вспомогательные стили/--]-------------------------------------------------------------------------------------------------- 