//-----[---ПЕРЕМЕННЫЕ---]-------------------------------------------------------------------------------------------------------------
:root {
	
}
//-----[--/ПЕРЕМЕННЫЕ/--]-------------------------------------------------------------------------------------------------------------



//-----[---ШРИФТЫ---]-----------------------------------------------------------------------------------------------------------------
//-----[Подключаем шрифты/]-----------------------------------------------------------------------------------------------------------
@import './components/fonts';
$OpenSans: 'Open Sans', sans-serif;
$OpenSansCondensed: 'Open Sans Condensed', sans-serif;
//-----[/Подключаем шрифты/]----------------------------------------------------------------------------------------------------------

//-----[Шрифт по умолчанию/]----------------------------------------------------------------------------------------------------------
body {
	font-family: $OpenSans;
	font-weight: 400;
}
//-----[/Шрифт по умолчанию/]---------------------------------------------------------------------------------------------------------
//-----[--/ШРИФТЫ/--]-----------------------------------------------------------------------------------------------------------------




//-----[---ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ---]---------------------------------------------------------------------------------------------
@import './components/_normalize.scss';
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
//-----[--/ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ/--]---------------------------------------------------------------------------------------------




//-----[---ОБОЛОЧКА---]---------------------------------------------------------------------------------------------------------------
.wrapper {
	
}
//-----[--/ОБОЛОЧКА/--]---------------------------------------------------------------------------------------------------------------




//-----[---ОСНОВНАЯ СЕТКА---]---------------------------------------------------------------------------------------------------------
.container {
	
}
//-----[--/ОСНОВНАЯ СЕТКА/--]---------------------------------------------------------------------------------------------------------




//-----[---ОСНОВНОЙ БЛОК---]----------------------------------------------------------------------------------------------------------

//-----[--/ОСНОВНОЙ БЛОК/--]----------------------------------------------------------------------------------------------------------




//-----[---ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ---]--------------------------------------------------------------------------
//@import './**/**';
//-----[--/ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ/--]--------------------------------------------------------------------------




//-----[---Вспомогательные стили---]--------------------------------------------------------------------------------------------------
.none {
	display: none; 
}

/* для FireFox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--grey);
} */

/* для Chrome/Edge/Safari */
/* *::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: var(--grey);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 5px;
    border: 3px solid var(--accent);
}

*::selection {
	background-color: var(--grey);
	color: var(--accent);
} */
//-----[--/Вспомогательные стили/--]-------------------------------------------------------------------------------------------------- 